<section class="movie-details">
  <div class="image">
    <%= image_tag @movie.image_file_name %>
  </div>
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2><%= year_of(@movie) %> &bull; <%= @movie.rating %></h2>
    <p><%= @movie.director %></p>
    <p><%= @movie.duration %></p>
    <p><%= @movie.description %></p>
    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@movie) %></td>
      </tr>
    </table>
    <P> <%= link_to "Write a review", new_movie_review_path(@movie, class: "review") %> </P>
    <div class="reviews">
      <%= render "shared/stars", percent: @movie.average_stars_as_percent %>
      <%= link_to pluralize(@movie.reviews.size, "review"),
                  movie_reviews_path(@movie) %>
    </div>
    <section class="admin">
      <% if current_user_admin? %>
        <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
        <%= link_to 'Delete', movie_path(@movie), class: "button",
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      <% end %>
    </section>
    <%= render 'reviews/form', :review => @review %>
    <section class="navigation">
      <p> <%= link_to 'Back to all Movies', @movies_path %> </p>
    </section>
    <div>
      <ul class="reviews">
        <% @movie.reviews.each do |review| %>
          <li>
            <%= render "shared/stars", percent: @movie.average_stars_as_percent %>
            <p>
              <%= link_to review.user.name, review.user %>
              <span class="date">
                <%= time_ago_in_words(review.created_at) %> ago
              </span>
            </p>
            <p id="reveiew- <%=review.id %> ">
              <%= review.comment %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <aside>
    <% if @fans.present? %>
      <h4>Fans</h4>
      <ul>
        <% @fans.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </aside>
</section>
