<section class="movie-details">
  <div class="image">
    <%= image_tag @movie.image_file_name %>
  </div>
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2>
      <%= year_of(@movie) %> &bull; <%= @movie.rating %>
    </h2>
    <p>
      <%= @movie.director %>
    </p>
    <p>
      <%= @movie.duration %>
    </p>
    <p>
      <%= @movie.description %>
    </p>
    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@movie) %></td>
      </tr>
    </table>
    <P> <%= link_to "Write a review", new_movie_review_path(@movie), class: "review" %> </P>
    <div class="reviews">
      <%= link_to pluralize(@movie.reviews.size, "review"),
                  movie_reviews_path(@movie) %>
    </div>
    <section class="admin">
      <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
    </section>
    <section class="navigation">
      <p> <%= link_to 'Back to all Movies', @movies_path %> </p>
      <p>
        <%= link_to 'Delete', movie_path(@movie), class: 'button',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </p>
    </section>
  </div>
</section>
